.listMain {
  max-width: 1100px;
}
.listMain > h2 {
  color: #2574f4;
  font-size: 30px;
}
.listMain > ul {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
}
.listMain > ul > li {
  width: 30%;
  margin-bottom: 15px;
  border: 2px solid #6497b1;
  border-radius: 8px;
  padding: 10px;
}
.saleInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.clientInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.price {
  color: #2574f4;
}
.paymenteMethod {
  font-size: 16px;
}
.paymenteMethod > span {
  color: #2574f4;
  font-weight: 500;
}
.portion {
  font-size: 16px;
}
.portion > span {
  color: #2574f4;
  font-weight: 500;
}
.listMain > ul > li > h3 {
  color: #6497b1;
  font-size: 20px;
}
.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.productInfo > h4 {
  color: #2574f4;
}
.productPrice {
  font-weight: 600;
}
.buttonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.deleteButton {
  color: #ae0001;
  border: 2px solid #ae0001;
}
.portionDetail {
  width: 90%;
  background-color: #ced3ff;
  color: #2574f4;
}

.paymentePortionDetail {
  margin: 10px 0;

  padding: 10px 40px;
  background-color: #708090;
  border: 3px solid #010057;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentePortionDetail > h2 {
  color: #010057;
}

.paymentePortionDetail > p {
  color: #010057;
  font-weight: 600;
}
.paymentePortionDetail > ul {
  list-style: none;
  padding: 0;
}

.paymentePortionDetail > ul > li {
  border-bottom: 2px solid #010057;
}
.paymentePortionDetail > ul > li > p {
  font-weight: 600;
  font-size: 18px;
}
.paymentePortionDetail > ul > li > p > span {
  color: #010057;
  font-weight: 600;
}
.closePaymentDetailButton {
  margin: 15px 0;
  color: #ae0001;
  border: 2px solid #ae0001;
}
