#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main > h1 {
  margin: 0;
}
main > h2 {
  font-size: 20px;
  margin-bottom: 45px;
  color: #2574f4;
}

.mainButton {
  background-color: #ced3ff;
  color: #1a1a1a;
  width: 200px;
  margin-bottom: 20px;
}
.mainButton:hover {
  border-color: #ced3ff;
  background-color: #2574f4;
  color: #ced3ff;
}
.mainButton:focus,
.mainButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
