#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-bottom: 15px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li > div {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
